
<ion-list>
  <div *ngFor="let mealGroup of mealItems">
    <ion-item class="item-stable"
              (click)="toggleGroup(mealGroup)"
              [ngClass]="{'active': isGroupShown(mealGroup)}">
      <ion-icon [name]="isGroupShown(mealGroup) ? 'remove' : 'add'" ></ion-icon>
      <!--<i class="icon" [ngClass]="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>-->
       &nbsp;
       Group {{mealGroup.groupName}}
     </ion-item>
     <ion-item class="item-accordion"
               *ngFor="let meal of mealGroup.meals"
               [hidden]="!isGroupShown(mealGroup)">
         <ion-img src="{{meal.image}}"></ion-img>
         <ion-label>{{meal.name}}</ion-label>
         {{meal.description}}
         <ion-button (click)="toggleMeal(mealGroup.groupName, meal.id)">{{ isSelected(meal.id) > -1 ? 'Added' : 'Add' }}</ion-button>

    </ion-item>
  </div>
</ion-list>


