<ion-header>
  <ion-navbar #navbar hideBackButton="true" align-title="center">
    <ion-title [style.height.px]="toolbarHeight" align-title="center"
      ><img [src]="icon"
    /></ion-title>
    <ion-buttons right>
      <button
        color="dark"
        class="donut-badge cart"
        ion-button
        outline
        icon-only
        (click)="go('cart')"
      >
        <ion-icon name="cart"></ion-icon>
      </button>
      <ion-badge class="cart-badge">{{ numberOfSelectedMeals }}</ion-badge>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="isOrderConfirmed">
    <h2>Tvoja poruka je poslana.</h2>
    <p class="confirmation-message">Javiti ćemo vam se u najkraćem roku</p>
  </div>
  <h2>Novosti</h2>
  <ion-slides pager>
    <ion-slide *ngFor="let donut of firstItems">
      <div class="contain">
        <ion-card class="donut-background">
          <img [src]="donut.imgSrc" />
          <div class="text news-text">
            <h3 class="news-title">{{ donut.title }}</h3>
            <span>{{ donut.subtitle }}</span>
          </div>
        </ion-card>
      </div>
      <!-- adds space to move the bullets down -->
      <div class="space"></div>
    </ion-slide>
  </ion-slides>
  <h2>Najpopularnije</h2>
  <ion-slides pager>
    <ion-slide *ngFor="let pair of popularItems">
      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let popularItem of pair" col-6>
            <div class="contain">
              <ion-card class="salad-background">
                <img [src]="popularItem.image" />
                <div class="text popular-text">
                  <h3 class="popular-title">{{ popularItem.name }}</h3>
                </div>
              </ion-card>
            </div>
            <button
              color="dark"
              [ngClass]="{ active: isSelected(popularItem.id) > -1 }"
              (click)="toggleMeal(popularItem.groupName, popularItem.id)"
              outline
              ion-button
              block
              class="selectBtn"
            >
              {{ isSelected(popularItem.id) > -1 ? 'Dodano' : 'Dodaj' }}
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
  <h2>Menu</h2>
  <accordion
    *ngFor="let group of mealGroups"
    [title]="group.groupName"
    [length]="group.meals.length"
  >
    <ion-list>
      <ion-item *ngFor="let meal of group.meals">
        <ion-thumbnail item-start>
          <img [src]="meal.image" />
        </ion-thumbnail>
        <h3>{{ meal.name }}</h3>
        <p>{{ meal.description }}</p>
        <span class="price">{{ meal.displayPrice.toFixed(2) }} kn</span>
        <button
          color="dark"
          [ngClass]="{ active: isSelected(meal.id) > -1 }"
          (click)="toggleMeal(group.groupName, meal.id)"
          outline
          ion-button
          block
        >
          {{ isSelected(meal.id) > -1 ? 'Dodano' : 'Dodaj' }}
        </button>
      </ion-item>
    </ion-list>
  </accordion>
  <button
    color="danger"
    class="donut-red navigation-button"
    (click)="go('cart')"
    ion-button
    block
  >
    Odredi dogadaj
  </button>
</ion-content>
