page-home {
  $danger: color($colors, danger, base);
  ion-header {
    button[color="dark"] {
      border-color: rgb(241, 241, 241);
      border-width: 2px;
      padding: 10px;
      span.button-inner {
        padding: 5px;
      }
    }
  }
  ion-content {
    background: rgb(252, 252, 253) !important;
    button {
      background-color: white !important;
    }
    div.contain {
      padding: 2px;
      border-style: solid;
      border-color: rgb(241, 241, 241);
      border-width: 2px;
      border-radius: 10px;
    }
    ion-slides {
      height: 35vh;
      ion-card {
        &.donut-background,
        &.salad-background {
          position: relative;
          max-height: 25vh;
          border-radius: 10px;
          margin: 0 !important;
          width: 100%;
          div.text {
            position: absolute;
            color: white;
            padding: 10px;
            width: 100%;
            background: rgba(0, 0, 0, 0.3);
            h3 {
              font-weight: bold;
              width: 100%;
            }
            span {
              width: 100%;
            }
          }
        }
        &.donut-background {
          div.text {
            bottom: 0;
          }
        }
        &.salad-background {
          div.text {
            top: 0;
          }
        }
      }
      button {
        top: -30px;
      }
    }
    accordion {
      ion-item {
        ion-thumbnail {
          height: 100px;
          width: 100px;
          img {
            border-radius: 15px;
            height: 100% !important;
            width: 100% !important;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 50%;
          }
        }
        h3 {
          margin: 0 !important;
          text-transform: capitalize;
          font-weight: bold !important;
        }
        span.price {
          font-weight: bolder;
          color: $danger;
        }
        button {
          width: 70% !important;
          min-height: 35px;
          &.active {
            border-color: $danger;
            background: $danger !important;
            color: white;
          }
        }
      }
    }
    button[color="danger"] {
      background: $danger !important;
      color: white;
      span {
        font-size: 1.4rem !important;
      }
    }
  }
}
