page-home {
  ion-header {
    padding-top: 20px;
    ion-navbar > div:first-child {
      background: white;
      border: none !important;
    }
    button[color="dark"] {
      border-color: rgb(241, 241, 241);
      border-width: 2px;
      padding: 10px;
      span.button-inner {
        padding: 5px;
      }
    }
  }
}
