<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <form [formGroup]="cartForm">
        <div *ngFor="let mealGroup of cart">
          <h2>{{mealGroup.groupName}}</h2>
          <ion-item *ngFor="let meal of mealGroup.meals">
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-input type="number" [placeholder]="meal.orderedCount" size="2" [formControlName]="meal.id"></ion-input>
                </ion-col>
                <ion-col>
                  {{meal.name}}
                </ion-col>
                <ion-col>
                  {{meal.displayPrice}} kn
                </ion-col>
                <ion-col>
                  <ion-button><ion-icon name="close"></ion-icon></ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </div>
    </form>
  </ion-list>
  total price : {{totalPrice}}
  <ion-button [routerLink]="['/event']">
    Next
  </ion-button>
</ion-content>
