<ion-content fullscreen>

  <ion-slides pager="true">
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col>
              <img src="https://www.gamesmen.com.au/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/w/a/warhammer_40k_build_paint_space_marine_bike_attack_3_.jpg">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p>kek</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button>
              skip
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col>
            <img src="https://www.gamesmen.com.au/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/w/a/warhammer_40k_build_paint_space_marine_bike_attack_3_.jpg">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p>kek</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button>
              skip
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col>
            <img src="https://www.gamesmen.com.au/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/w/a/warhammer_40k_build_paint_space_marine_bike_attack_3_.jpg">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p>kek</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button (click)="onContinue()">
              continue
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>

</ion-content>
