<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="primary">
      <ion-button><ion-icon name="cart" slot="icon-only"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>some title</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <div *ngIf="orderService.orderCompleted">
      <ion-row>
        <ion-col>
          <h1>
            Order sent
          </h1>
        </ion-col>
      </ion-row>
      <ion-row>
        You will be notified soon
      </ion-row>
    </div>
    <ion-row>
      <ion-col>
        <h1>Novosti</h1>
      </ion-col>
    </ion-row>
    <ion-row align-items-center>
      <ion-col size="11" offset="0.5">
        <ion-slides pager="true">
          <ion-slide>
            <ion-card>
              <ion-img src="https://i.ytimg.com/vi/djGEK6052XY/maxresdefault.jpg"></ion-img>
              <ion-card-content>Some text</ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <ion-img src="https://i.ytimg.com/vi/djGEK6052XY/maxresdefault.jpg"></ion-img>
              <ion-card-content>Some text</ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <ion-img src="https://i.ytimg.com/vi/djGEK6052XY/maxresdefault.jpg"></ion-img>
              <ion-card-content>Some text</ion-card-content>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h1>Najpopularnije</h1>
      </ion-col>
      <ion-slides [options]="{slidesPerView:2}">
        <ion-slide>
          <ion-col>
            <app-highligted-item>
            </app-highligted-item>
          </ion-col>
        </ion-slide>
        <ion-slide>
          <ion-col>
            <app-highligted-item>
            </app-highligted-item>
          </ion-col>
        </ion-slide>
        <ion-slide>
          <ion-col>
            <app-highligted-item>
            </app-highligted-item>
          </ion-col>
        </ion-slide>
      </ion-slides>
    </ion-row>
    <ion-row>
      <ion-col>
        <h1>Menu</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <app-menu-accordion></app-menu-accordion>
      </ion-col>
    </ion-row>
    <ion-col>
      <ion-row>
        <ion-button [routerLink]="['/cart']">Checkout</ion-button>
      </ion-row>
    </ion-col>
  </ion-grid>
</ion-content>
