accordion {
  ion-card {
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 100% !important;
    border-radius: 5px !important;
    button.accordion-label ion-label {
      font-size: 14px !important;
    }
  }
  div.content {
    overflow: hidden;
    transition: all 0.5s ease-out;
    &.closed {
      height: 0 !important;
    }
  }
}
